## Stockholms stads offentliga toaletter
* [#1](https://github.com/salgo60/Offentliga-toaletter/issues/1)

In [6]:
SthlmfileName ="Toalett_Punkt_Sthlm_20260123.gpkg"

In [7]:
import geopandas as gpd

# L√§s in geopackage-filen
gdf = gpd.read_file(SthlmfileName)

# Visa grundl√§ggande information
print(gdf.head())
print(gdf.crs)
print(gdf.columns)

                           Adress Anl√§ggningsnummer  Antal_WC  \
0                Fr√∂dingsv√§gen 13               G84       NaN
1      Norr M√§larstrand 3 - kajen               G60       NaN
2                   Fj√§llgatan 37               G85       NaN
3                   Sveav√§gen 39A               G67       NaN
4  Norra Bantorget - Vasagatan 59               G14       1.0

   Antal_urinoarer                                        Beskrivning  Bild  \
0              NaN                                  Inbyggd i byggnad  None
1              NaN  Tillg√§nglighetsanpassad WC, 2 x WC och 1 x uri...  None
2              NaN                   Inbyggd endast i drift sommartid  None
3              NaN                            Tillg√§nglighetsanpassad  None
4              NaN                         Tillg√§nglighetsanpassad WC  None

    CHANGE_DATE           CID   CREATE_DATE            Driftansvar  ...  \
0  2.025021e+11  1.659929e+15  2.019021e+11          Milj√∂tekniska  ...
1  2.024012e+11  1.538073e+15  2.018023e+11               JCDecaux  ...
2  2.022091e+11  1.659930e+15  2.019021e+11  Fj√§llgatans cafestuga  ...
3  2.024012e+11  1.538074e+15  2.018023e+11               JCDecaux  ...
4  2.024012e+11  1.530323e+15  2.018011e+11               JCDecaux  ...

  Pumpgrop      Status  Tillg√§nglighetsanpassad    VALID_FROM VALID_TO  \
0      Nej  I funktion                       Ja  2.019021e+11     None
1      Nej  I funktion                       Ja  2.018022e+11     None
2      Nej  I funktion                       Ja  2.019021e+11     None
3      Nej  I funktion                       Ja  2.018022e+11     None
4      Nej  I funktion                       Ja  2.018011e+11     None

  VERSION_ID Vattenservice fid FEATURE_TYPE_NAME  \
0          1          None   1           Toalett
1          1          None   2           Toalett
2          1          None   3           Toalett
3          1          None   4           Toalett
4          1          None   5           Toalett

                         geometry
0  POINT (150163.422 6579429.646)
1  POINT (152988.491 6579085.031)
2  POINT (154949.341 6578026.085)
3  POINT (153474.156 6580313.629)
4  POINT (153148.155 6579983.768)

[5 rows x 37 columns]
EPSG:3011
Index(['Adress', 'Anl√§ggningsnummer', 'Antal_WC', 'Antal_urinoarer',
       'Beskrivning', 'Bild', 'CHANGE_DATE', 'CID', 'CREATE_DATE',
       'Driftansvar', 'El_Service', 'FEATURE_TYPE_OBJECT_ID',
       'FEATURE_TYPE_VERSION_ID', 'Fabrikat', 'F√§rg', 'Historisk_litterering',
       'Huvudman', 'Index', 'Inneh√•ller', 'Installerad', 'Litterering',
       'MAIN_ATTRIBUTE_DESCRIPTION', 'MAIN_ATTRIBUTE_VALUE', 'Modell', 'Namn',
       'OBJECT_ID', 'Projektnr', 'Pumpgrop', 'Status',
       'Tillg√§nglighetsanpassad', 'VALID_FROM', 'VALID_TO', 'VERSION_ID',
       'Vattenservice', 'fid', 'FEATURE_TYPE_NAME', 'geometry'],
      dtype='object')

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pyogrio/raw.py:198: RuntimeWarning: GPKG: unrecognized user_version=0x00000000 (0) on 'Toalett_Punkt_Sthlm_20260123.gpkg'
  return ogr_read(

In [4]:
def convert_misread_date(x):
    try:
        if pd.isna(x):
            return None
        # g√∂r till int, ta bara siffrorna
        s = str(int(float(x)))
        # om 8 tecken ‚Üí YYYYMMDD
        if len(s) == 8:
            return pd.to_datetime(s, format="%Y%m%d", errors="coerce")
        return None
    except Exception:
        return None

for col in [c for c in gdf.columns if "DATE" in c.upper()]:
    gdf[col + "_fmt"] = gdf[col].apply(convert_misread_date)

In [11]:
import geopandas as gpd
import pandas as pd

# L√§s in
gdf = gpd.read_file(SthlmfileName)

# Ber√§kna centroid i meter-CRS (SWEREF99 TM) och konvertera till WGS84
gdf_proj = gdf.to_crs(epsg=3006)
gdf["geometry_centroid"] = gdf_proj.geometry.centroid.to_crs(epsg=4326)

# L√§gg till lat/lon
gdf["lon"] = gdf["geometry_centroid"].x
gdf["lat"] = gdf["geometry_centroid"].y

# Lista m√∂jliga datumkolumner
date_cols = [c for c in gdf.columns if "DATE" in c.upper() or "DATUM" in c.upper()]
print("üïí Datumkolumner:", date_cols)

# Funktion f√∂r att f√∂rs√∂ka tolka stora siffror som tidsst√§mplar
def convert_date(x):
    try:
        # Om NaN
        if pd.isna(x):
            return None
        # Om redan datetime
        if isinstance(x, pd.Timestamp):
            return x
        # Om det ser ut som 1.738443e+15 (millisekunder)
        x = float(x)
        if x > 1e12:  # troligen millisekunder
            return pd.to_datetime(x, unit="ms")
        elif x > 1e9:  # sekunder
            return pd.to_datetime(x, unit="s")
        else:
            return None
    except Exception:
        return None

# Konvertera alla identifierade datumf√§lt
for col in date_cols:
    gdf[col + "_fmt"] = gdf[col].apply(convert_date)

# Visa exempel p√• konverterade datum
print(gdf[[c for c in gdf.columns if "DATE" in c or "fmt" in c]].head())

gdf.drop(columns=["geometry", "geometry_centroid"]).to_csv("SthlmfileName_Toalett_fix.csv", index=False)
print("‚úÖ Sparade 'SthlmfileName_Toalett_fix.csv' med riktiga datum och koordinater")

üïí Datumkolumner: ['CHANGE_DATE', 'CREATE_DATE']
    CHANGE_DATE   CREATE_DATE CHANGE_DATE_fmt CREATE_DATE_fmt
0  2.025021e+11  2.019021e+11            None            None
1  2.024012e+11  2.018023e+11            None            None
2  2.022091e+11  2.019021e+11            None            None
3  2.024012e+11  2.018023e+11            None            None
4  2.024012e+11  2.018011e+11            None            None
‚úÖ Sparade 'SthlmfileName_Toalett_fix.csv' med riktiga datum och koordinater

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pyogrio/raw.py:198: RuntimeWarning: GPKG: unrecognized user_version=0x00000000 (0) on 'Toalett_Punkt_Sthlm_20260123.gpkg'
  return ogr_read(

In [12]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 42 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Adress                      101 non-null    object
 1   Anl√§ggningsnummer           101 non-null    object
 2   Antal_WC                    4 non-null      float64
 3   Antal_urinoarer             2 non-null      float64
 4   Beskrivning                 75 non-null     object
 5   Bild                        1 non-null      object
 6   CHANGE_DATE                 101 non-null    float64
 7   CID                         101 non-null    float64
 8   CREATE_DATE                 101 non-null    float64
 9   Driftansvar                 101 non-null    object
 10  El_Service                  0 non-null      object
 11  FEATURE_TYPE_OBJECT_ID      101 non-null    int64
 12  FEATURE_TYPE_VERSION_ID     101 non-null    int16
 13  Fabrikat                    97 non-null     object
 14  F√§rg                        101 non-null    object
 15  Historisk_litterering       0 non-null      object
 16  Huvudman                    101 non-null    object
 17  Index                       77 non-null     object
 18  Inneh√•ller                  0 non-null      object
 19  Installerad                 0 non-null      object
 20  Litterering                 101 non-null    object
 21  MAIN_ATTRIBUTE_DESCRIPTION  101 non-null    object
 22  MAIN_ATTRIBUTE_VALUE        101 non-null    object
 23  Modell                      94 non-null     object
 24  Namn                        101 non-null    object
 25  OBJECT_ID                   101 non-null    int64
 26  Projektnr                   0 non-null      object
 27  Pumpgrop                    71 non-null     object
 28  Status                      101 non-null    object
 29  Tillg√§nglighetsanpassad     101 non-null    object
 30  VALID_FROM                  101 non-null    float64
 31  VALID_TO                    0 non-null      object
 32  VERSION_ID                  101 non-null    int16
 33  Vattenservice               0 non-null      object
 34  fid                         101 non-null    int32
 35  FEATURE_TYPE_NAME           101 non-null    object
 36  geometry                    101 non-null    geometry
 37  geometry_centroid           101 non-null    geometry
 38  lon                         101 non-null    float64
 39  lat                         101 non-null    float64
 40  CHANGE_DATE_fmt             0 non-null      object
 41  CREATE_DATE_fmt             0 non-null      object
dtypes: float64(8), geometry(2), int16(2), int32(1), int64(2), object(27)
memory usage: 31.7+ KB

In [14]:
gdf.describe()

,Antal_WC,Antal_urinoarer,CHANGE_DATE,CID,CREATE_DATE,FEATURE_TYPE_OBJECT_ID,FEATURE_TYPE_VERSION_ID,OBJECT_ID,VALID_FROM,VERSION_ID,fid,lon,lat
count,4.0,2.0,1.010000e+02,1.010000e+02,1.010000e+02,101.0,101.0,1.010000e+02,1.010000e+02,101.0,101.000000,101.000000,101.000000
mean,1.0,1.0,2.024175e+11,1.747852e+15,2.019862e+11,15303196.0,1.0,1.747852e+07,2.019861e+11,1.0,51.000000,18.028833,59.323680
std,0.0,0.0,7.942318e+07,3.398323e+14,2.930167e+08,0.0,0.0,3.398322e+06,2.930255e+08,0.0,29.300171,0.064846,0.032642
min,1.0,1.0,2.022090e+11,1.530321e+15,2.018011e+11,15303196.0,1.0,1.530321e+07,2.018011e+11,1.0,1.000000,17.843198,59.243971
25%,1.0,1.0,2.024012e+11,1.530326e+15,2.018011e+11,15303196.0,1.0,1.530326e+07,2.018011e+11,1.0,26.000000,18.002871,59.301593
50%,1.0,1.0,2.024012e+11,1.538074e+15,2.018023e+11,15303196.0,1.0,1.538074e+07,2.018022e+11,1.0,51.000000,18.052149,59.326010
75%,1.0,1.0,2.025101e+11,1.775757e+15,2.020092e+11,15303196.0,1.0,1.775757e+07,2.020092e+11,1.0,76.000000,18.075276,59.339646
max,1.0,1.0,2.025102e+11,2.358270e+15,2.025101e+11,15303196.0,1.0,2.358270e+07,2.025101e+11,1.0,101.000000,18.130955,59.413180

In [15]:
from shapely.geometry import base

for col in gdf.columns:
    has_geom = gdf[col].apply(lambda x: isinstance(x, base.BaseGeometry)).any()
    if has_geom:
        print(f"üß± Kolumn '{col}' inneh√•ller geometrier")

üß± Kolumn 'geometry' inneh√•ller geometrier
üß± Kolumn 'geometry_centroid' inneh√•ller geometrier

In [20]:
import folium
from shapely.geometry import base

# Ta bort alla geometrier utom den huvudsakliga
gdf_clean = gdf.copy()

# ta bort "geometry_centroid" och andra geometrikolumner
geom_cols = [c for c in gdf_clean.columns 
             if c != "geometry" and gdf_clean[c].apply(lambda x: isinstance(x, base.BaseGeometry)).any()]
if geom_cols:
    print("üßπ Tar bort extra geometri-kolumner:", geom_cols)
    gdf_clean = gdf_clean.drop(columns=geom_cols, errors="ignore")

# Skapa Folium-lager utan att f√∂rs√∂ka serialisera sj√§lva geometry-kolumnen
stad_layer = folium.FeatureGroup(name="üü† Hundrastg√•rdar (Stockholms stad)")

folium.GeoJson(
    data=gdf_clean.__geo_interface__,   # endast den officiella geometrin anv√§nds
    name="üü† Hundrastg√•rdar (Stockholms stad)",
    style_function=lambda feature: {
        "fillColor": "#ff6600",
        "color": "#cc5500",
        "weight": 2,
        "fillOpacity": 0.3,
    },
    tooltip=folium.GeoJsonTooltip(
        fields=[c for c in gdf_clean.columns if c != "geometry"],
        aliases=[f"{c}:" for c in gdf_clean.columns if c != "geometry"],
        sticky=False,
        localize=True,
    )
).add_to(stad_layer)

stad_layer.add_to(m)

üßπ Tar bort extra geometri-kolumner: ['geometry_centroid']

NameError: name 'm' is not defined

In [21]:
m

NameError: name 'm' is not defined